.history-section {
    width: calc(100% - 32px);
    max-width: 800px;
    background-color: #fff;
    border-radius: 2px;
    margin: 24px auto 0px auto;
    padding-bottom: 8px;
    @include shadow(1);

    .subheader {
        padding-top: 16px;
        padding-bottom: 16px;
        font-size: 14px;
        padding-left: 16px;
        opacity: 0.87;
        @include cursor-default;
        @include Roboto-Medium;
    }
}