.history-section {
  width: calc(100% - 32px);
  max-width: 800px;
  background-color: #fff;
  border-radius: 2px;
  margin: 16px auto 0px auto;
  padding-bottom: 8px;
  @include shadow(1);

  .subheader {
      padding-top: 16px;
      padding-bottom: 16px;
      padding-left: 16px;
      color: rgba(0, 0, 0, $primary-opacity-light);
      @include cursor-default;
      @include Body2;
      display: flex;

      .section-checkbox {
        margin-right: 16px;
      }
  }
}