.controls {
  position: absolute;
  height: $systembar-height;
  top: 0;
  right: 0;
  z-index: 4;
}

.control {
  @include image-center(12px, 12px);
  opacity: $secondary-opacity-light;
  height: 100%;
  width: 32px;
  float: right;
  margin-right: 4px;
  transition: opacity $hover-duration;
  -webkit-app-region: no-drag;

  &:hover {
    opacity: $primary-opacity-light;
  }
}

.control-close {
  @extend .control;
  background-image: url(images/Controls/close.png);
}

.control-maximize {
  @extend .control;
  background-image: url(images/Controls/maximize.png);
}

.control-minimize {
  @extend .control;
  background-image: url(images/Controls/minimize.png);
}
