.menu-navigation {
  display: flex;
  height: 40px;
  flex-flow: row;

  .icon {
    height: 100%;
    flex: 1;
    @include image-center(24px, 24px);
    opacity: $secondary-opacity-light;
    transition: 0.2s opacity;

    &:hover {
      opacity: $primary-opacity-light;
    }
    
    &.disabled {
      opacity: $disabled-opacity-light;
      pointer-events: none;
    }
  }

  .back-icon {
    background-image: url(images/Bar/back.svg);
  }

  .forward-icon {
    background-image: url(images/Bar/forward.svg);
  }

  .refresh-icon {
    background-image: url(images/Bar/refresh.svg);
  }

  .favorite-icon {
    background-image: url(images/Bar/favorite-empty.svg);
  }
}