%ripple-basics {
  user-select: none;
  transform: translate3d(0, 0, 0);
  -webkit-font-smoothing: subpixel-antialiased;
}

@mixin ripple () {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  @extend %ripple-basics;
}

@mixin ripple-icon () {
  user-select: none;
  @extend %ripple-basics;
}

.material-ripple {
  @include ripple;
}

.material-ripple-icon {
  @include ripple-icon;
}

.material-ripple-effect {
  width: 0px;
  height: 0px;
  padding: 0;
  margin: 0;
  z-index: -2;
  position: absolute;
  border-radius: 50%;
  user-select: none;
  pointer-events: none;
  transform: translate3d(-50.1%, -50.1%, 0);
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: #000;
}