@mixin custom-scroll ($color: $scroll-color, $color-hover: $scroll-color-hover, $track-color: $scroll-track-color, $scroll-width: 12px, $scroll-height: 6px, $color-selecting: $scroll-color-selecting, $color-hover-selecting: $scroll-color-hover-selecting) {
  &::-webkit-scrollbar {
    width: $scroll-width;
    height: $scroll-height;
  }
  
  &::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: $color;
    border: none;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background: $color-hover;
  }
  
  &::-webkit-scrollbar-track {
    background: $track-color;
  }
  
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
  
  &.selecting::-webkit-scrollbar-thumb {
    background: $color-selecting;
  }
  
  &.selecting::-webkit-scrollbar-thumb:hover {
    background: $color-hover-selecting;
  }
}

@mixin thin-scroll () {
  @include custom-scroll(#9E9E9E, #757575, transparent, 4px, 6px)
}