.add-tab {
  position: absolute;
  top: 0;
  left: 0;
  width: $system-bar-height;
  height: 100%;
  @include image-center(20px, 20px);
  opacity: $secondary-opacity-light;
  background-image: url(images/Tabs/add.svg);
  -webkit-app-region: no-drag;

  &:hover {
    background-color: rgba(196, 196, 196, 0.4);
  }
}