@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url("fonts/Roboto-Regular.woff2") format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto'), local('Roboto-Medium'), url("fonts/Roboto-Medium.woff2") format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto'), local('Roboto-Medium'), url("fonts/Roboto-Light.woff2") format('woff2');
}
