.menu-item {
    display: flex;
    align-items: center;
    padding: 0px 24px;
    height: 32px;

    &:hover {
        background-color: #EEEEEE;
    }

    &.selected {
        background-color: #E0E0E0;
    }
}