.input {
  position: relative;
  height: 48px;

  .line {
    height: 1px;
    width: 100%;
    background-color: rgba(0,0,0,0.42);
    bottom: 0;
    position: absolute;
  }

  .thick-line {
    background-color: #3F51B5;
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    @include center-horizontal;
    transition: 0.2s width, 0.2s opacity;
    opacity: 0;

    &.show {
      opacity: 1;
      width: 100%;
    }
  }

  .label {
    position: absolute;
    @include Caption;
    opacity: $secondary-opacity-light;
    top: 0;
    transition: 0.2s all;

    &.focused {
      color: #3F51B5;
      opacity: 1;
    }

    &.hint {
      @include Subheading;
      color: black;
      top: 20px;
    }
  }

  input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    bottom: 8px;
    position: absolute;
    @include Subheading;
  }
}