.system-bar {
  position: relative;
  -webkit-app-region: drag;
  display: flex;
  flex-direction: row;
  background-color: #EEE;
  height: $system-bar-height;
  width: 100%;
  z-index: 4;
  transition: 0.2s background-color;

  .border-bottom {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0, $dividers-opacity-light);
    height: 1px;
    left: 0;
    right: 0;
    z-index: 2;
  }

  &.white {
    .border-bottom {
      opacity: 0;
    }
    .groups {
      opacity: $secondary-opacity-dark;
      @include invert-colors;
    }
    .border-vertical2 {
      opacity: $dividers-opacity-dark;
      @include invert-colors;
    }
  }

  .border-vertical2 {
    height: calc(100% - 16px);
    width: 1px;
    background-color: black;
    opacity: $dividers-opacity-light;
    position: relative;
    @include center-vertical;
    margin-left: 8px;
    margin-right: 8px;
  }

  .groups {
    @include image-center(16px, 16px);
    background-image: url(images/Tabs/groups.svg);
    width: $system-bar-height;
    height: 100%;
    float: right;
    -webkit-app-region: no-drag;
    opacity: $secondary-opacity-light;
    transition: $hover-duration background-color;

    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }
}
