{
  "presets": [
    ["env",{
      "targets": {
        "browser": "last 2 versions"
      }
    }],
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties"
  ],
  "retainLines": true
}