{
  "parser": "typescript-eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "spread": true,
      "experimentalDecorators": true
    }
  },
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": "off",
    "no-undef": "off",
    "no-multi-str": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "react/sort-comp": "off",
    "no-return-assign": "off",
    "no-mixed-operators": "off",
    "import/prefer-default-export": "off",
    "no-unused-expressions": "off",
    "prefer-destructuring": "off",
    "no-plusplus": "off",
    "react/no-unsecaped-entites": "off",
    "react/self-closing-comp": "off",
    "react/void-dom-elements-no-children": "off",
    "react/jsx-indent": "off",
    "react/jsx-indent-props": "off",
    "react/jsx-max-props-per-line": "off",
    "no-restricted-syntax": "off",
    "no-param-reassign": "off",
    "no-underscore-dangle": "off",
    "linebreak-style": "off"
  }
}
