.context-menu {
    position: fixed;
    width: 300px;
    height: 100px;
    top: 256px;
    left: 32px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    z-index: 3;
}