.menu {
  -webkit-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
  position: absolute;
  right: 128px;
  top: 42px;
  width: 300px;
  background-color: white;
  z-index: 9999;
  transition: 0.3s height, 0.27s margin-top, 0.2s opacity;
  overflow: hidden;
  border-radius: 3px;
}

.menu-items {
  padding-bottom: 16px;
  padding-top: 16px;
  width: 100%;
  height: 100%;
}

.menu-line {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.06);
}

.menu-separator {
  @extend .menu-line;
  margin-top: 8px;
  margin-bottom: 8px;
}
