.menu {
    position: absolute;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    background-color: white;
    width: 300px;
    z-index: 999;
    top: 128px;
    left: 64px;
    border-radius: 2px;
    transition: 0.3s max-height, 0.27s margin-top, 0.2s opacity;
    overflow: hidden;

    .items {
        display: flex;
        flex-flow: column;
        padding: 0 0 16px 0;
    }

    .separator {
        height: 1px;
        background-color: rgba(0, 0, 0, $dividers-opacity-light);
        margin-top: 8px;
        margin-bottom: 8px;
    }
}