.history-toolbar {
  width: 100%;
  height: 56px;
  background-color: $primary-color;
  color: #fff;
  z-index: 2;
  top: 0;
  left: 0;
  position: fixed;
  @include shadow(1);
  @include cursor-default;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: 0.15s background-color;

  &.selecting-mode {
    background-color: #2196F3;
  }

  %item {
    @include Title;

    &:first-child {
      margin-left: 24px;
    }
  }

  .title {
    @extend %inline;
    @extend %item;
  }

  .normal-toolbar {
    width: 100%;
    height: 100%;
    transition: 0.15s opacity;
  }

  .selection-toolbar {
    width: calc(100% - 24px);
    max-width: 824px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: 0.15s opacity;
  }

  %icon {
    width: 24px;
    height: 24px;
    padding: 16px;
    cursor: pointer;
    @include image-center(24px, auto);
    @include invert-colors;
    @extend %inline;

    &:last-child {
      margin-right: 24px;
    }
  }

  %icon-right {
    @extend %icon;
    float: right !important;
  }

  %inline {
    float: left;
    position: relative;
    @include center-vertical;
  }

  .exit-icon {
    background-image: url(images/Tabs/close.svg);
    @extend %icon;
  }

  .selected-items, .count {
    @include Body2;
    @extend %inline;
  }

  .count {
    margin-left: 4px;
  }

  %button {
    @extend %inline;
    @include Button;
    width: auto;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    cursor: pointer;
    float: right;
  }

  .cancel-button {
    margin-right: 8px;
    @extend %button;
  }

  .delete-button {
    @extend %button;
  }

  .search-container {
    width: 56px;
    height: 100%;
    float: right;
    position: relative;
    margin-right: 16px;
    overflow: hidden;
    transition: 0.25s ease-out;
    @extend %inline;

    .search-icon {
      background-image: url(images/Bar/search.svg);
      @extend %icon;
    }

    .input {
      width: calc(100% - 128px);
      position: absolute;
      right: 72px;
      @include white-input;
      @include center-vertical;
    }

    &.selected {
      width: 512px;
    }

    .cancel-icon {
      float: right;
      padding: 6px;
      @extend .exit-icon;
    }
  }
}

@media screen and (max-width: 400px) {
  .history-toolbar {
    .selected-items {
      display: none;
    }

    .count {
      margin-left: 0px;
    }
  }
}