.history-toolbar {
    width: 100%;
    height: 56px;
    position: relative;
    background-color: $primary-color;
    color: #fff;
    @include shadow(1);
    @include cursor-default;

    %item {
        position: relative;
        font-size: 16px;
        float: left;
        left: 24px;
        @include center-vertical;
    }

    .title {
        @extend %item;
    }
}