.history-toolbar {
  height: 64px;
  background-color: $primary-color;
  color: #fff;
  z-index: 2;
  position: relative;
  @include shadow(1);
  @include cursor-default;
  display: flex;
  align-items: center;

  %item {
    @include Title;

    &:first-child {
      margin-left: 24px;
    }
  }

  .title {
    @extend %item;
  }
}