$primary-opacity-light: 0.87;
$secondary-opacity-light: 0.54;
$disabled-opacity-light: 0.38;
$dividers-opacity-light: 0.12;

$primary-opacity-dark: 1;
$secondary-opacity-dark: 0.7;
$disabled-opacity-dark: 0.5;
$dividers-opacity-dark: 0.12;

$hover-duration: 0.2s;

$systembar-height: 32px;

$tabs-hover-color: rgba(0,0,0,0.08);


@import 'components/Page/components/WebView/style.scss';
@import 'components/Page/style.scss';
@import 'components/Tabs/style.scss';
@import 'components/Bar/style.scss';
@import 'components/Tabs/components/Tab/style.scss';
@import 'components/Tabs/components/Controls/style.scss';

body {
  @include Body1;
  @include cursor-default;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}
