$add-button-size: 22px;

.tabbar {
  height: $systembar-height;
  position: relative;
  width: calc(100% - 168px);
  float: left;
}

.add-button {
  @include set-position(0, 0, 0, 0);
  @include image-center($add-button-size, $add-button-size);
  background-image: url(images/Tabs/add.png);
  -webkit-app-region: no-drag;
  position: absolute;
  height: 100%;
  width: 32px;
  opacity: $secondary-opacity-light;
  transition: 0.2s background-color;

  &:hover {
    opacity: $primary-opacity-light;
    background-color: $tabs-hover-color;
  }
}

.systembar-border {
  @include set-position(0, auto, 0, 0);
  height: 1px;
  position: absolute;
  z-index: 2;
}

.systembar {
  position: relative;
  height: $systembar-height;
  -webkit-app-region: no-drag;
  background-color: #EEEEEE;
}

.systembar-drag-handle {
  @include set-position(2px, 2px, 2px, 0px);
  position: absolute;
  -webkit-app-region: drag;
  width: calc(100% - 4px);
  height: $systembar-height - 2px;
}
