.tabs {
  height: 32px;
  width: 100%;
  background-color: #eee;
  position: relative;
  overflow: hidden;
}

.tabbar {
  height: 32px;
  width: 100%;
  white-space: nowrap;
  position: relative;
}

.tabs-add-button {
  width: 32px;
  height: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  opacity: 0.54;
  -webkit-app-region: no-drag;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(images/Tabs/add.png);
}

.tabs-add-button:hover {
  background-color: #E0E0E0;
  opacity: 0.87;
}

.tabs-handle {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  height: calc(100% - 2px);
  -webkit-app-region: drag;
}

.tabs-bottom-border {
  height: 1px;
  width: 100%;
  background-color: black;
  opacity: 0.12;
  position: absolute;
  bottom: 0;
}