.bar {
  display: flex;
  flex-flow: row;
  top: $system-bar-height;
  width: 100%;
  height: $bar-height;
  z-index: 3;
  background-color: white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.29);
  transition: 0.2s background-color;

  &.white {
    .bar-icon {
      @include invert-colors();
      opacity: $secondary-opacity-dark;

      &:hover {
        opacity: $primary-opacity-dark;
      }
    }
  }

  .bar-icon {
    position: relative;
    @include center-vertical;
    width: 24px;
    height: 24px;
    margin-left: 6px;
    opacity: $secondary-opacity-light;
    @include image-center(100%, 100%);
    transition: 0.2s opacity;

    &:first-of-type {
      margin-left: 0;
      width: 32px;
    }

    &:hover {
      opacity: $primary-opacity-light;
    }

    &.disabled {
      opacity: 0.2;
      pointer-events: none;
    }

    &.back-icon {
      background-image: url(images/Bar/back.svg);
      background-position: 4px center;
    }

    &.forward-icon {
      background-image: url(images/Bar/forward.svg);
    }

    &.refresh-icon {
      background-image: url(images/Bar/refresh.svg);
      @include image-center(20px, 20px);
    }

    &.menu-icon { 
      background-image: url(images/Bar/menu.svg);
      @include image-center(20px, 20px);
      background-position: 4px center;
      margin-left: 0;
      width: 32px;
    }
  }
}