.bar {
  width: 100%;
  height: 40px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.29); 
  z-index: 2;
  position: relative;
}

.bar-icon {
  width: 36px;
  height: 40px;
  position: relative;
  @include center-vertical;
  @include image-center(24px, 24px);
  opacity: $secondary-opacity-light;
  transition: 0.2s opacity;

  &:hover {
    opacity: $primary-opacity-light;
  }
}

.bar-icon-disabled {
  opacity: $disabled-opacity-light;
  pointer-events: none;
}

.bar-icon-back {
  background-position-x: 12px;
  width: 42px;
  background-image: url(images/Bar/back.png);
  float: left;
}

.bar-icon-forward {
  background-image: url(images/Bar/forward.png);
  float: left;
}

.bar-icon-refresh {
 background-size: 20px 20px;
  background-image: url(images/Bar/refresh.png);
  float: left;
}

.bar-icon-menu {
  width: 44px;
  background-size: 20px 20px;
  background-position-x: 12px;
  background-image: url(images/Bar/more-vertical.png);
  float: right;
}

.bar-addressbar-icon {
  @include image-center(100%, 100%);
  @include center-vertical;
  position: relative;
  float: left;
  margin-right: 12px;
}

.bar-addressbar-action-icon {
  height: 24px;
  width: 24px;
  @include image-center(18px, 18px);
  display: inline-block;
  opacity: $secondary-opacity-light;
  transition: 0.2s opacity;

  &:hover {
    opacity: $primary-opacity-light;
    transition: 0.2s opacity;
  }
}

.bar-addressbar-action-icons {
  opacity: 0;
  position: absolute;
  display: inline-block;
  pointer-events: none;
  transition: 0.2s opacity;
  margin-left: 24px;
  z-index: 3;
}

.bar-addressbar-action-icon-favorite {
  background-image: url(images/Bar/favorite-empty.png);
}

.bar-addressbar-action-icon-clear {
  margin-left: 8px;
  background-image: url(images/Tabs/close.png);
  @include image-center(20px, 20px);
}

.bar-addressbar-icon-info {
  width: 18px;
  height: 18px;
  opacity: $secondary-opacity-light;
  background-image: url(images/Bar/info.png);
}

.bar-addressbar-icon-secure {
  width: 16px;
  height: 16px;
  background-image: url(images/Bar/secure.png);
}

.bar-addressbar {
  float: left;
  width: calc(100% - 184px);
  height: calc(100% - 16px);
  margin-left: 26px;
  font-size: 14px;
  position: relative;
  @include center-vertical;
  white-space: nowrap;
  overflow: hidden;
}

.bar-addressbar-divider {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  width: 1px;
  height: 16px;
  background-color: black;
  opacity: $dividers-opacity-light;
  position: relative;
  @include center-vertical;
}

.bar-addressbar-title {
  display: inline-block;
  position: relative;
  opacity: $primary-opacity-light;
  top: 1px;
}

.bar-addressbar-shorturl {
  display: inline-block;
  position: relative;
  opacity: $secondary-opacity-light;
  top: 1px;
  cursor: text;
}

.bar-input {
  display: inline-block;
  width: calc(100% - 11px);
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  outline: none;
  border: none;
  font-size: 14px;
  color: rgba(0, 0, 0, $primary-opacity-light);
  transition: 0.1s opacity;
  opacity: 0;
  pointer-events: none;
}