.ripple {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    -webkit-transform: translate3d(0, 0, 0);
    user-select: none;
    -webkit-font-smoothing: subpixel-antialiased;
}

.ripple-icon {
    user-select: none;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-font-smoothing: subpixel-antialiased;
}

.ripple-effect {
    z-index: -2;
    position: absolute;
    border-radius: 50%;
    background-color: #444;
    user-select: none;
    pointer-events: none;
    padding: 0;
    margin: 0;
    opacity: 0.3;
    -webkit-transform: translate3d(-50.1%, -50.1%, 0);
    -webkit-font-smoothing: subpixel-antialiased;
    transition: 1.5s width, 1.5s height, 0.4s opacity;
    width: 0px;
    height: 0px;
}
