.history-card {
    width: $card-width;
    background-color: #fff;
    color: #000;
    position: relative;
    overflow: hidden;
    margin-left: 16px;
    margin-top: 16px;
    display: inline-block;
    border-radius: 2px;
    user-select: none;
    text-decoration: none;
    @include shadow(2);

    .screenshot {
        width: 100%;
        height: calc(#{$card-width} * 9 / 16);
        @include image-cover;
    }

    .icon {
        width: 32px;
        height: 32px;
        border-radius: 100%;
        opacity: 0.87;
        position: absolute;
        left: 8px;
        @include center-vertical;
        @include image-cover;
    }

    .info-container {
        height: 48px;
        position: relative;
    }

    .title-container {
        max-width: calc(100% - 56px);
        position: absolute;
        left: 48px;
        @include center-vertical;

        .title, .description {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .title {
            font-size: 15px;
            opacity: 0.97;
            @include Roboto-Medium;
        }

        .description {
            font-size: 13px;
            opacity: 0.54;
        }
    }
}