.controls {
  display: flex;
  height: 100%;
  flex-direction: row-reverse;
  -webkit-app-region: no-drag;

  %control {
    width: 45px;
    height: 100%;
    transition: all 0.2s;
    margin-left: 1px;
    
    .icon {
      @include image-center(11px, 11px);
      width: 100%;
      height: 100%;
      transition: all 0.2s;
    }

    &:hover {
      background-color: rgba(196, 196, 196, 0.4);
    }
  }

  .close {
    @extend %control;

    &:hover {
      background-color: #e81123;
    }

    .icon {
      background-image: url(images/Controls/close.svg);

      &:hover {
        filter: invert(100%);
      }
    }
  }
  .maximize {
    @extend %control;

    & .icon {
      background-image: url(images/Controls/maximize.svg);
    }
  }
  .minimize {
    @extend %control;
    
    & .icon {
      background-image: url(images/Controls/minimize.svg);
    }
  }

  &.white {
    .icon {
      filter: invert(100%);
    }
  }
}