.material-switch {
  width: 36px;
  height: 14px;
  position: relative;
  @include cursor-pointer;

  .track {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    opacity: 0.38;
    transition: 0.25s opacity, 0.25s background-color;
    background-color: #000;
  }

  .thumb {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 20px;
    border-radius: 50%;
    transition: 0.15s background-color, 0.15s left ease-out;
    @include center-vertical;
    @include shadow(1);
    background-color: #FAFAFA;

    .ripple-effect {
      background-color: #000;
    }
  }

  &.toggled {
    .track, .thumb {
      background-color: #2196F3;
    }
  }
}