.control {
    height: 32px;
    width: 32px;
    float: right;
    opacity: 0.6;
    background-size: 12px 12px;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s all;
}

.control:hover {
    opacity: 1;
    transition: 0.2s all;
}

.window-controls {
    position: absolute;
    z-index: 99999;
    height: 32px;
    -webkit-app-region: no-drag;
    right: 0px;
}

.titlebar {
    width: 100%;
    height: 32px;
    background-color: #BDBDBD;
    color: #fff;
    -webkit-app-region: drag;
    position: relative;
}
