.menu {
    width: 100%;
    max-width: 320px;
    background-color: #fff;
    top: 30px;
    left: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
    position: absolute;
    z-index: 100;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.menu .menu-item {
    background-color: #fff;
    overflow: inherit;
}
.menu .menu-item .header {
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
    font-size: 15px;
    cursor: default;
    padding-left: 24px;
    padding-top: 7px;
    padding-bottom: 7px;
}
