.progressbar-determinate {
    width: 500px;
    height: 5px;
    border-radius: 2px;
    background-color: #afd1ee;
    position: relative;
    overflow: hidden;
}
.progressbar-determinate .divider {
    width: 0%;
    height: 100%;
    background-color: #03a9f4;
}

.progressbar-indeterminate {
    width: 500px;
    height: 5px;
    border-radius: 2px;
    background-color: #afd1ee;
    position: relative;
    overflow: hidden;
}
.progressbar-indeterminate .divider {
    width: 40%;
    height: 100%;
    background-color: #03a9f4;
    position: absolute;
    left: -50%;
}
.progressbar-indeterminate .divider-fast {
    width: 80%;
    height: 100%;
    background-color: #03a9f4;
    position: absolute;
    left: -80%;
}

.preloader-determinate {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
}

.preloader-determinate .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: square;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

.preloader-indeterminate {
    height: 100%;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    transform: rotate(270deg);
}

.preloader-indeterminate .path {
    stroke-dasharray: 0, 200;
    stroke-dashoffset: 0;
}
