.toolbar {
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color:#fff;
    position: relative;
    transition: 0.3s background;
}

.toolbar-item {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.toolbar-left {
    float: left;
    margin-left: 4px;
    margin-right: 4px;
}

.toolbar-content {
    margin-left: 4px;
    width: calc(100% - 8px);
    position: relative;
    top: 0;
    height: 100%;
}

.toolbar-icon {
    width: 40px;
    height: 40px;
}

.toolbar-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: calc(100% - 16px) calc(100% - 16px);
    background-repeat: no-repeat;
}

.toolbar-right {
    float: right;
    margin-right: 4px;
    margin-left: 4px;
}

.toolbar-title {
    font-size: 20px;
    margin-left: 20px;
}
