.radio-button-container {
  position: relative;
  display: flex;
  height: 48px;
  align-items: center;

  .text {
    font-size: 16px;
    color: rgba(0,0,0,0.54);
    margin-left: 16px;
    @include cursor-default;
  }
}

.radio-button {
  width: 18px;
  height: 18px;
  position: relative;
  left: 0;
  @include cursor-pointer;
  @include ripple-icon;

  &:first-child {
    margin-top: 0px;
  }

  .border {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0,0,0,0.54);
    box-sizing: border-box;
    transition: 0.1s border-color;
  }

  .circle {
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0,0,0,0.54);
    box-sizing: border-box;
    transform: scale(0);
    transition: 0.1s ease-out transform, 0.1s border-color;
  }

  &.toggled {
    .border, .circle {
      border-color: #2196F3;
    }

    .circle {
      transform: scale(1);
    }
  }
}