.window-controls {
  position: relative;
  float: right;
  height: 100%;
  -webkit-app-region: no-drag;
  z-index: 5;
}

.window-control {
  @include image-center(11px, 11px);
  height: 100%;
  width: 34px;
  transition: 0.2s opacity;
  opacity: $secondary-opacity-light;
  float: right;

  &:hover {
    opacity: $primary-opacity-light;
  }
}

.window-control-close {
  @extend .window-control;
  background-image: url(images/controls/close.png);
}

.window-control-maximize {
  @extend .window-control;
  background-image: url(images/controls/maximize.png);
}

.window-control-minimize {
  @extend .window-control;
  background-image: url(images/controls/minimize.png);
}
