.controls {
  position: absolute;
  height: $systembar-height;
  top: 0;
  right: 0;
  z-index: 4;
}

.control {
  @include image-center(12px, 12px);
  opacity: $secondary-opacity-light;
  height: 100%;
  width: 32px;
  float: right;
  margin-right: 4px;
  transition: opacity $hover-duration;
  -webkit-app-region: no-drag;

  &:hover {
    opacity: $primary-opacity-light;
  }
}

.control-close {
  @extend .control;
  background-image: url(images/Controls/close.png);
}

.control-maximize {
  @extend .control;
  background-image: url(images/Controls/maximize.png);
}

.control-minimize {
  @extend .control;
  background-image: url(images/Controls/minimize.png);
}

.control-separator {
  opacity: $dividers-opacity-light;
  height: calc(100% - 12px);
  top: 50%;
  transform: translateY(-50%);
  float: right;
  position: relative;
  margin-right: 8px;
  margin-left: 8px;
  width: 1px;
  background-color: #000;
}

.control-menu {
  @extend .control;
  @include image-center(20px, 20px);
  width: 28px;
  background-image: url(images/Controls/menu.png);
}
