.tab-groups-menu-item {
  height: 32px;
  overflow: hidden;

  .content {
    height: 32px;
    padding: 0 24px 0 24px;

    &:hover {
      background-color: #eee;

      .icon {
        opacity: $secondary-opacity-light;
      }
    }

    &.selected {
      background-color: #e0e0e0;
    }
  }

  &.editing {
    .content {
      .icon {
        opacity: $secondary-opacity-light;

        &.edit-icon {
          background-image: url(images/Actions/confirm.svg);
        }
      }
    }
  }

  .content {
    .title {
      float: left;
      position: relative;
      @include center-vertical;
    }
  
    input {
      float: left;
      background-color: transparent;
      border: none;
      outline: none;
      position: relative;
      @include center-vertical;
      @include Body1;
    }
  
    .icon {
      opacity: 0;
      position: relative;
      @include center-vertical;
      float: right;
      width: 28px;
      height: 32px;
      margin-left: 4px;
      @include image-center(16px, 16px);
      transition: $hover-duration opacity;
  
      &:hover {
        opacity: $primary-opacity-light;
      }
  
      &.edit-icon {
        background-image: url(images/Actions/edit.svg);
      }
  
      &.remove-icon {
        background-image: url(images/Tabs/close.svg);
      }
    }
  }
}