html, body {
  margin: 0;
  padding: 16px 0px 16px 0px;
  background-color: $background-color;
  @include Body1;
}

a {
  text-decoration: none;
  color: #000;
}

.new-tab-news {
  width: calc(100% - 32px);
  max-width: 512px;
  margin: 0 auto;
}