@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url("fonts/Roboto-Regular.woff2") format('woff2');
}

html, body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #F5F5F5;
}

.logo {
  width: 96px;
  height: 96px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(images/wexond-logo.png);
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
}

.recently-visited-pages {
  width: 100%;
  height: auto;
  margin-top: 24px;
  margin-left: calc(50% - 6px);
  transform: translateX(calc(-50% - 6px));
  position: relative;
}