@mixin image-center ($width, $height) {
  background-size: $width $height;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin image-custom ($width, $height, $left, $top) {
  background-size: $width $height;
  background-position: $left $top;
  background-repeat: no-repeat;
}
