.tab {
  display: inline-block;
  flex-flow: row;
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  -webkit-app-region: no-drag;

  &.white {
    .content {
      .title {
        color: rgba(255,255,255, $primary-opacity-dark);
      }
      .close {
        .icon {
          @include invert-colors;
          opacity: $secondary-opacity-dark;

          &:hover {
            opacity: $primary-opacity-dark;
          }
        }
      }
    }
    .overlay {
      background-color: rgba(255,255,255, 0.1) !important;
    }
    .border-vertical {
      background-color: rgba(255,255,255, $dividers-opacity-dark);
    }
  }

  .border-vertical {
    position: absolute;
    width: 1px;
    background-color: rgba(0,0,0, $dividers-opacity-light);
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  
  .overlay {
    transition: 0.2s opacity;
    position: absolute;
    background-color: rgba(255,255,255, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .content {
    position: relative;
    z-index: 2;
    flex: 1;
    flex-flow: row;
    height: 100%;
    align-items: center;
    overflow: hidden;

    %item {
      position: absolute;
      @include center-vertical;
    }

    .title {
      @extend %item;
      width: 100%;
      @include Body1;
      font-size: 13px;
      color: rgba(0,0,0, $primary-opacity-light);
      overflow: hidden;
      left: 32px;
      text-overflow: ellipsis;
      transition: 0.15s ease-out max-width, 0.15s ease-out left;
    }

    .preloader {
      @extend %item;
      left: 8px;
      width: 16px;
      height: 16px;

      & .preloader-indeterminate .path {
        stroke-width: 6.5;
        transition: 0.15s stroke;
      }

      &.white .path {
        stroke: #fff;
      }
    }

    .favicon {
      @extend %item;
      left: 8px;
      width: 20px;
      height: 20px;
      border-radius: 3px;
      background-color: white;
      @include image-center(16px, 16px);
    }

    .close {
      @extend %item;
      width: 16px;
      height: 16px;
      right: 8px;
      transition: 0.2s opacity;

      .icon {
        width: 100%;
        height: 100%;
        @include image-center(16px, 16px);
        background-image: url(images/Tabs/close.svg);
        opacity: $secondary-opacity-light;
        transition: 0.2s opacity;

        &:hover {
          opacity: $primary-opacity-light;
        }
      }
    }
  }
}
