.tab {
  background-color: white;
  height: 100%;
  width: 190px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-app-region: no-drag;
}

.tab-border-vertical {
  @include center-vertical;
  width: 1px;
  height: calc(100% - 8px);
  position: absolute;
  background-color: black;
  opacity: 0.12;
  z-index: 2;
}

.tab-border-small-vertical {
  @extend .tab-border-horizontal;
  height: calc(100% - 8px);
}

.tab-border-full-vertical {
  @extend .tab-border-horizontal;
  height: 100%;
}

.tab-title {
  @include center-vertical;
  position: absolute;
  left: 8px;
  width: 100%;
  max-width: calc(100% - 16px);
  overflow: hidden;
}

.tab-content {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}