.system-bar {
  position: relative;
  -webkit-app-region: drag;
  display: flex;
  flex-direction: row;
  background-color: #EEE;
  height: $system-bar-height;
  width: 100%;
  z-index: 3;

  & .border-bottom {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0, $dividers-opacity-light);
    height: 1px;
    left: 0;
    right: 0;
    z-index: 2;
  }
}
