.bar-info {
  float: left;
  width: calc(100% - 184px);
  height: 100%;
  margin-left: 26px;
  font-size: 14px;
  position: relative;
  @include center-vertical;
  white-space: nowrap;
  overflow: hidden;

  &.bar-info-white-foreground {
    color: #fff;

    & .bar-info-input {
      color: rgba(255, 255, 255, $primary-opacity-dark);
    }

    & .bar-info-divider {
      opacity: $dividers-opacity-dark;
      background-color: white;
    }

    & .bar-info-icon-normal, & .bar-info-action-icon {
      @include invert-colors;
      opacity: $secondary-opacity-dark;
    }

    & .bar-info-action-icon {
      &:hover {
        opacity: $primary-opacity-dark;
      }
    }

    & .bar-info-icon-disabled {
      opacity: $disabled-opacity-dark;
    }

    & .bar-info-icon-wexond {
      background-image: none;
      -webkit-mask-box-image: url(images/wexond-logo.png);
      background-color: white;
      opacity: $secondary-opacity-light;
    }

    & .bar-info-icon-secure {
      background-color: white;
      opacity: $secondary-opacity-light;
    }

    & .bar-info-certificate-info {
      color: white !important;
      opacity: $primary-opacity-dark;
    }

    & .bar-info-domain {
      opacity: $secondary-opacity-dark;
    }
  }
}

.bar-info-icon {
  @include image-center(100%, 100%);
  @include center-vertical;
  position: relative;
  float: left;
  margin-right: 12px;
}

.bar-info-action-icon {
  height: 24px;
  width: 24px;
  @include image-center(18px, 18px);
  display: inline-block;
  opacity: $secondary-opacity-light;
  transition: 0.2s opacity;

  &:hover {
    opacity: $primary-opacity-light;
    transition: 0.2s opacity;
  }
}

.bar-info-action-icons {
  @include center-vertical;
  opacity: 0;
  position: absolute;
  display: inline-block;
  pointer-events: none;
  transition: 0.2s opacity;
  margin-left: 24px;
  z-index: 3;
}

.bar-info-action-icon-favorite {
  @extend .bar-info-action-icon;
  background-image: url(images/Bar/favorite-empty.png);
}

.bar-info-action-icon-clear {
  @extend .bar-info-action-icon;
  margin-left: 8px;
  background-image: url(images/Tabs/close.png);
  @include image-center(20px, 20px);
}

.bar-info-icon-normal {
  width: 18px;
  height: 18px;
  opacity: $secondary-opacity-light;
  background-image: url(images/Bar/info.png);
}

.bar-info-icon-wexond {
  width: 20px;
  height: 20px;
  background-image: url(images/wexond-logo.png);
}

.bar-info-icon-secure {
  width: 16px;
  height: 16px;
  -webkit-mask-box-image: url(images/Bar/secure.png);
  background-color: green;
}

.bar-info-divider {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  width: 1px;
  height: 16px;
  background-color: black;
  opacity: $dividers-opacity-light;
  position: relative;
  @include center-vertical;
}

.bar-info-certificate-info {
  display: inline-block;
  position: relative;
  opacity: $primary-opacity-light;
  top: 9px;
  color: #000;
}

.bar-info-domain {
  display: inline-block;
  position: relative;
  opacity: $secondary-opacity-light;
  cursor: text;
  top: 9px;
}

.bar-info-input {
  display: inline-block;
  width: calc(100% - 11px);
  height: 100%;
  position: absolute;
  background-color: transparent;
  left: 0px;
  top: 0px;
  outline: none;
  border: none;
  font-size: 14px;
  color: rgba(0, 0, 0, $primary-opacity-light);
  transition: 0.1s opacity, 0.2s background-color;
  opacity: 0;
  pointer-events: none;
}
