.material-button {
  min-width: 88px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  @include Button;
  @include cursor-pointer;
  @include ripple;

  &.white {
    color: #fff;
  }

  .over-shade {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0;
    transition: 0.25s opacity;
    z-index: -2;
  }

  &:not(.disabled):hover {
    .over-shade {
      opacity: 0.12;
    }
  }

  &.disabled {
    box-shadow: unset !important;
    cursor: default;
  }

  &.raised {
    transition: 0.25s box-shadow;
    @include shadow(1);

    &:not(.dark-theme).disabled {
      background-color: rgba(0,0,0,$disabled-button-light) !important;
      color: rgba(0,0,0,$disabled-text-light) !important;
    }

    &.disabled.dark-theme {
      background-color: rgba(255,255,255,$disabled-button-dark) !important;
      color: rgba(255,255,255,$disabled-text-dark) !important;
    }

    &:not(.disabled):hover {
      @include shadow(2);
    }
  }
}