html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0px 0px 16px 0px;
  background-color: $background-color;
  overflow: hidden;
  @include Body1;
}

a {
  text-decoration: none;
}

.content {
  overflow-y: auto;
  padding-bottom: 16px;
}