html, body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  @include Body1;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.history-title {
  width: calc(100% - 32px);
  max-width: 800px;
  position: relative;
  @include center-horizontal;
  @include Title;

  &:first-child {
    margin-top: 32px;
  }
}

.history-empty {
  position: relative;
  text-align: center;
  opacity: $secondary-opacity-light;
  @include Title;
  @include center-vertical;
}

.content {
  width: 100%;
  height: calc(100% - 72px);
  position: absolute;
  top: 56px;
  padding-bottom: 16px;
  overflow: auto;
}