html, body {
    margin: 0;
    padding: 0;
    background-color: $background-color;
    @include Body1;
}

.cards-container {
    padding-top: 16px;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(-8px);
}