@import './default.scss';

$system-bar-height: 32px;
$bar-height: 42px;

$tabs-hover-color: rgba(0,0,0,0.08);

@import 'components/Preloader/style.scss';

@import 'components/App/style.scss';
@import 'components/App/Page/style.scss';
@import 'components/App/Pages/style.scss';
@import 'components/App/Tab/style.scss';
@import 'components/App/Tabs/style.scss';
@import 'components/App/SystemBar/style.scss';
@import 'components/App/Controls/style.scss';
@import 'components/App/AddTab/style.scss';
@import 'components/App/Bar/style.scss';
@import 'components/App/AddressBar/style.scss';
@import 'components/App/Suggestions/style.scss';
@import 'components/App/Suggestion/style.scss';
@import 'components/App/Menu/style.scss';
@import 'components/App/MenuItem/style.scss';
@import 'components/App/MenuNavigation/style.scss';
@import 'components/App/Dialog/style.scss';
@import 'components/App/TabGroupsMenu/style.scss';
@import 'components/App/TabGroupsMenuItem/style.scss';
@import 'components/App/TabGroupPages/style.scss';
@import 'components/App/BackgroundExtensions/style.scss';