@import 'sass/imports/fonts.scss';

@import 'sass/mixins/cursors.scss';
@import 'sass/mixins/icons.scss';
@import 'sass/mixins/images.scss';
@import 'sass/mixins/positioning.scss';
@import 'sass/mixins/shadows.scss';
@import 'sass/mixins/typography.scss';

$primary-opacity-light: 0.87;
$secondary-opacity-light: 0.54;
$disabled-opacity-light: 0.38;
$dividers-opacity-light: 0.12;

$primary-opacity-dark: 1;
$secondary-opacity-dark: 0.7;
$disabled-opacity-dark: 0.5;
$dividers-opacity-dark: 0.12;

$hover-duration: 0.2s;

$system-bar-height: 32px;
$bar-height: 40px;

$tabs-hover-color: rgba(0,0,0,0.08);

@import 'components/App/style.scss';
@import 'components/Page/style.scss';
@import 'components/Pages/style.scss';
@import 'components/Tab/style.scss';
@import 'components/Tabs/style.scss';
@import 'components/SystemBar/style.scss';
@import 'components/Controls/style.scss';
@import 'components/AddTab/style.scss';
@import 'components/Bar/style.scss';
@import 'components/AddressBar/style.scss';
@import 'components/Suggestions/style.scss';
@import 'components/Suggestion/style.scss';
@import 'components/Menu/style.scss';
@import 'components/MenuItem/style.scss';