@import './default.scss';

$system-bar-height: 32px;
$bar-height: 42px;

$tabs-hover-color: rgba(0,0,0,0.08);

@import 'components/Preloader/style.scss';

@import 'components/App/style.scss';
@import 'components/Page/style.scss';
@import 'components/Pages/style.scss';
@import 'components/Tab/style.scss';
@import 'components/Tabs/style.scss';
@import 'components/SystemBar/style.scss';
@import 'components/Controls/style.scss';
@import 'components/AddTab/style.scss';
@import 'components/Bar/style.scss';
@import 'components/AddressBar/style.scss';
@import 'components/Suggestions/style.scss';
@import 'components/Suggestion/style.scss';
@import 'components/Menu/style.scss';
@import 'components/MenuItem/style.scss';
@import 'components/MenuNavigation/style.scss';
@import 'components/Dialog/style.scss';
@import 'components/TabGroupsMenu/style.scss';
@import 'components/TabGroupsMenuItem/style.scss';
@import 'components/Input/style.scss';
@import 'components/TabGroupPages/style.scss';
@import 'components/BackgroundExtensions/style.scss';