@import './default.scss';

$background-color: #F5F5F5;
$primary-color: #3F51B5;

$scroll-color: #3F51B5;
$scroll-color-hover: #303F9F;
$scroll-track-color: #EEE;

$scroll-color-selecting: #2196F3;
$scroll-color-hover-selecting: #1976D2;

$card-width: 256px;
$card-gap: 16px;

@import 'components/Checkbox/style.scss';
@import 'components/Input/style.scss';
@import 'components/Preloader/style.scss';

@import 'components/History/style.scss';
@import 'components/HistoryCard/style.scss';
@import 'components/HistoryCards/style.scss';
@import 'components/HistoryToolBar/style.scss';
@import 'components/HistorySection/style.scss';
@import 'components/HistoryItem/style.scss';