@import './default.scss';

$background-color: #F5F5F5;
$primary-color: #3F51B5;

$card-width: 256px;
$card-gap: 16px;

@import 'components/Preloader/style.scss';

@import 'components/NewTab/style.scss';
@import 'components/NewTabCard/style.scss';