@import './default.scss';

@import 'components/Dropdown/style.scss';
@import 'components/Switch/style.scss';
@import 'components/RadioButtonsContainer/style.scss';
@import 'components/RadioButton/style.scss';
@import 'components/Input/style.scss';

@import 'components/Settings/style.scss';
@import 'components/Settings/Section/style.scss';
@import 'components/Settings/Item/style.scss';