html, body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  @include Body1;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

.content {
  width: 100%;
  height: calc(100% - 72px);
  position: absolute;
  top: 56px;
  padding-bottom: 16px;
  overflow-x: hidden;
  overflow-y: auto;
}