.toolbar {
  position: relative;
  z-index: 100;
  align-items: center;
  display: flex;
  flex-flow: row;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  height: 40px;
  -webkit-app-region: drag;
}

.toolbar-button {
  height: 32px;
  -webkit-app-region: no-drag;
  position: relative;
  transition: 0.2s background-color;
  width: 32px;
  background-position: center;
  background-size: 24px;
  background-repeat: no-repeat;
  opacity: 0.54;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.2s background-color;
  display: flex;
  align-items: center;

  &:hover {
    background-color: rgba(0, 0, 0, 0.08);
  }
}

.add-tab {
  background-image: url(../../assets/icons/add.svg);
  background-size: 20px;
}

.navigation-icons {
  display: flex;
  align-items: center;
  margin-left: 8px;

  & .disabled {
    opacity: 0.38;
    pointer-events: none;
  }

  & .back {
    background-image: url(../../assets/icons/back.svg);
  }

  & .forward {
    background-image: url(../../assets/icons/forward.svg);
    margin-left: 4px;
  }

  & .refresh {
    background-image: url(../../assets/icons/refresh.svg);
    background-size: 20px;
    margin-left: 4px;
  }
}

.toolbar-separator {
  height: 20px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.12);
}
