.windows-buttons {
  display: flex;
  height: 100%;
}

.windows-button {
  height: 100%;
  width: 45px;
  margin-right: 1px;
  position: relative;
  transition: 0.2s background-color;
  -webkit-app-region: no-drag;
  background-position: center;
  background-size: 11px;
  background-repeat: no-repeat;

  &:first-child {
    margin-right: 0;
  }

  &:hover {
    background-color: rgba(196, 196, 196, 0.4);

    & .windows-button-icon {
      filter: invert(100%);
    }
  }

  & .windows-button-icon {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 11px;
    background-repeat: no-repeat;
    transition: 0.2s filter;

    &.windows-close {
      background-image: url(../../assets/icons/windows/close.svg);
    }
  }

  &.windows-close {
    &:hover {
      background-color: #e81123;
    }
  }

  &.windows-maximize {
    background-image: url(../../assets/icons/windows/maximize.svg);
  }

  &.windows-minimize {
    background-image: url(../../assets/icons/windows/minimize.svg);
  }
}
